@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

html,
#root {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: black;

  overflow: auto;
}

.body {
  min-width: 100vh;
  background-color: black;
  padding: 0 190px 140px; /* 위 0px, 좌우 190px, 아래 140px */
}

.backface-hidden {
  backface-visibility: hidden; /* 뒷면이 보이지 않도록 설정 */
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

:root,
[data-theme] {
  background-color: white;
  color: ;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.emoji {
  font-family: "Toss Face Font Mac";
}

input {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;

  color: #ffffff;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
